<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule++</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    
    <!--{% include "bootstrap.html" %}-->
    
    <style type="text/css">
      canvas {
        border: 1px solid black; 
      }

      body {
        padding-top: 60px; /* don't let the navbar overlap shit */
      }
    </style>
  </head>
  <body onload="draw();">

    <!-- LOL BOOTSTRAP HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Schedule++</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- END TOP BAR -->
    
    <div class="container">
      <div class="row">

        <div class="span1" id="calendarTabs">
          <p>Schedule tabs go here</p>
        </div>

        <div class="span8" id="calendarContainer">
          <p>
          <canvas id="calendar" width="500" height="500">
            Fallback for old browsers goes here
          </canvas>
          </p>
        </div>

        <div class="span3" id="courseList">
          <p>Course list goes here</p>
        </div>
      </div>
    </div> <!-- container -->

  </body>
</html>
